<div class="hd posts">
    <a href="/index.html"><i class="fa fa-reply replay-btn" aria-hidden="true"></i></a>
    <div class="post-title">
        <p>
            <%= page.title %>
        </p>
        <hr>
    </div>
    <div class="post-content">
        <%- page.content %>
    </div>

    <% if (theme.valine.enable && page.comments) { %>
        <hr class="fhr">
        <div id="vcomments"></div>
    <% } %>
</div>