<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        <%= config.title %>
    </title>
    <%- css('libs/highlight/styles/monokai-sublime.css') %>
    <%- css('libs/font-awesome/css/font-awesome.min.css') %>
    <%- css('css/style.css') %>
</head>