<div class="hd">
    <ol class="breadcrumb">
        <% for (name in theme.menu) { %>
            <li><a class="ba" href="<%- url_for(theme.menu[name]) %>"><%= name %></a></li>
        <% } %>
    </ol>
    <hr class="breadcrumbhr">
</div>