.logodiv {
    text-align: center;
}

.titlex {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

.list {
    padding-left: 25px;
    padding-right: 25px;
    height: 30px;
    cursor: pointer;
}

.postname {
    float: left;
}

.posttime {
    float: right;
}

.logopng {
    width: 200px;
}

.breadcrumb {
    padding: 8px 15px;
    list-style: none;
    background-color: initial;
    border-radius: 0px;
    text-align: center;
}

.jing {
    color: #6d9ee7;
}

.logot {
    font-weight: bold;
    font-size: 24px;
    margin-top: -10px;
    margin-bottom: -20px;
}

.logot .logo_1{
    color: #888888;
}

.logot .logo_2{
    color: #6d9ee7;
}

.logot .logo_3{
    color: #be8355;
}

.navd {
    padding-top: 14px;
}

.headt {
    border-bottom: 1px solid #efefef;
    height: 50px;
}

.fh {
    top: 24px;
    position: absolute;
}

hr{
    border-color: #58606b;
}